<!DOCTYPE html>
<html lang="es">

    {% include "home/includes/head.html" %}

<body>
    <!-- Navbar fijo -->
    {% include "home/includes/navbar.html" %}

    <!-- Main: contenido principal -->
    <main class="container-xxl mt-5 pt-2">
        {% block content %}
        {# Aquí van tus secciones o bloques de Wagtail #}
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include "home/includes/footer.html" %}

    <!-- Scripts JS -->
    {% include "home/includes/scripts.html" %}
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>
