

{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
<footer class="site-footer text-white">
  <div class="container">
    <div class="row align-items-start py-5">

      <!-- Logo -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <img src="{% static 'img/logo_blanco.png' %}" alt="Logo" class="footer-logo mb-3">
        <p class="small">"Betesda: mi casa, tu casa, nuestra casa."</p>
      </div>

      <!-- Columnas de enlaces -->
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="footer-title">Ministerios</h6>
        <ul class="list-unstyled">
          <li><a href="#">Alabanza</a></li>
          <li><a href="#">Juventud</a></li>
          <li><a href="#">Niños</a></li>
          <li><a href="#">Matrimonios</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="footer-title">Recursos</h6>
        <ul class="list-unstyled">
          <li><a href="#">Predicaciones</a></li>
          <li><a href="#">Podcast</a></li>
          <li><a href="#">Artículos</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="footer-title">Conéctate</h6>
        <ul class="list-unstyled">
          <li><a href="#">Contáctanos</a></li>
          <li><a href="#">Visítanos</a></li>
          <li><a href="#">Donaciones</a></li>
        </ul>
      </div>

        <!-- Typewriter effect Hebreos 13:8 -->
      <div class="col-lg-3 col-md-12 text-center">
        <div class="mb-3">
          <h2 id="typewriter-main" style="font-size: 1.0rem; font-weight: bold;"></h2>
          <p id="typewriter-cita" style="font-size: 1.0rem;"></p>
        </div>
      <!-- Redes sociales y verso -->
        <div class="mb-3" social-icons>
          <h6 class="footer-title">Síguenos</h6>
          <a href="https://www.youtube.com/" class="social-link me-3 fs-5" target="_blank"><i class="bi bi-youtube"></i></a>
          <a href="https://www.facebook.com/" class="social-link me-3 fs-5" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/" class="social-link me-3 fs-5" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://wa.me/573001112233" class="social-link me-3 fs-5" target="_blank"><i class="bi bi-whatsapp"></i></a>
          <a href="mailto:betesda@example.com" class="social-link fs-5"><i class="bi bi-envelope-fill"></i></a>
        </div>
      </div>
    </div>

    <!-- Línea inferior -->
    <div class="footer-bottom text-center pt-4 mt-4 border-top border-secondary">
      <p class="mb-4">© {% now "Y" %} Comunidad Cristiana Betesda AD. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>


