
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
<header class="site-header">
      <!-- Logo -->
      <div>
          <a class="navbar-brand" href="/">
          <img src="{% static 'img/logo_blanco.jpg' %}" alt="Logo" class="d-inline-block align-text-top">
        </a>
      </div>
    <!-- Top bar -->
    <div class="top-bar text-white">
        <div class="container d-flex justify-content-end align-items-center py-3">
            <div class="mb-2" social-icons>
                <a href="https://wa.me/573001112233" class="social-link me-3 fs-5" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.youtube.com/" class="social-link me-3 fs-5" target="_blank"><i class="bi bi-youtube"></i></a>
                <a href="https://www.facebook.com/" class="social-link me-3 fs-5" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/" class="social-link me-3 fs-5" target="_blank"><i class="bi bi-instagram"></i></a>
              </div>

    </div>
</header>
