{% load wagtailcore_tags wagtailimages_tags static menu_tags %}
{% load static %}


<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom fixed-top star">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand position-absolute start-0 ms-3" href="/">
        <img src="{% static 'img/logo_betesda_int_2.png' %}" alt="#" width="30" height="24" class="d-inline-block align-text-top">
      </a>

      <!-- Botón menú móvil -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
          aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú -->
      <div class="collapse navbar-collapse" id="mainNavbar">
        {% render_menu "main" %}
      </div>
    </div>
  </nav>
</header>
